[submodule "entorno-cliente"]
	path = entorno-cliente
	url = git@github.com:IshimiG/entorno-cliente.git
[submodule "interfaces-web"]
	path = interfaces-web
	url = git@github.com:IshimiG/interfaces-web.git
[submodule "web-servidor-domain"]
	path = web-servidor-domain
	url = git@github.com:IshimiG/web-servidor-domain.git
[submodule "web-servidor-persistencia"]
	path = web-servidor-persistencia
	url = git@github.com:IshimiG/web-servidor-persistencia.git
[submodule "interfaces-web-purista"]
	path = interfaces-web-purista
	url = git@github.com:IshimiG/interfaces-web-purista.git
